<!DOCTYPE html>
<html  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head xmlns:hf="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Контракты</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" align="right">
        <a class="navbar-brand" href="/">CRM</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="hasAuthority('MANAGER')">
                    <a class="nav-link" href="/workers">Работники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Задачи</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MANAGER')">
                    <a class="nav-link" href="/clients">Клиенты</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MANAGER')">
                    <a class="nav-link" href="/newTask">Составить задачу</a>
                </li>
            </ul>
            <div class="nab-item" align="right">
                <a th:text="${#authentication.getName()}"></a>
            </div>
            </form>

            <form class="col" action="/logout" method="POST">
                <input class="btn btn-secondary" style="background-color: darkblue" type="submit" value="Выход">
            </form>
        </div>
    </div>
</nav>
<p align="center" class="display-4 m-3">Контракты к заданиям</p>
</div>
<div class="container-fluid">
    <form>
        <table class="table mb-3" align="center">
            <thead class="table-dark">
            <tr align="center">
                <th scope="col">Номер контракта</th>
                <th scope="col">Номер задания</th>
                <th scope="col">Серийный номер оборудования</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" >
            <tr th:each="contract: ${contracts}" align="center">
                <td th:text="${contract.getContract_id()}"></td>
                <td th:text="${contract.getTask_id()}"></td>
                <td th:text="${contract.getEquipment_id()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<p class="display-3" th:text="${notification}" align="center"/>
</body>
</html>